<header class="site-header">
  <a class="brand" href="/">Proca Express</a>
  <nav>
    <% if (currentUser) { %>
      <a href="/home">Dashboard</a>
      <form action="/logout" method="post" class="inline-form">
        <button type="submit" class="link-button">Logout</button>
      </form>
    <% } else { %>
      <a href="/">Sign in</a>
      <a href="/register-request">Register request</a>
    <% } %>
  </nav>
</header>
